*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header */
.navigation a{
    color: black;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}
.wrapper{
    background-color: whitesmoke;
    width: 100vw;
    height: 100vh;
}
.navigation{
    height: 5%;
    /* background-color: red; */
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid darkgrey;
}
nav{
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    width: 200px;
}
.info{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 200px;
}
.info img{
    width: 24px;
}
.logo{
    width: 150px;
    /* background-color: red; */
}
.logo img{
    width: 100%;
}
.login{
    border-right: 1px solid lightgrey;
    padding-right: 6px;
}

 /* content */
.contents{
    width: 100vw;
    height: 95vh;
    background-color: rgb(231, 229, 229);
    margin: auto;
}
.courses{
    width: 50vw;
    background-color: red;
    height: 90vh;
    width: 85vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.courses .mini-wrapper{
    width: 70%;
    height: 70%;
    background-color: aqua;
    display: flex;
    font-size: 1.5rem;
}
.shopping-info{
    width: 50%;
    height: 100%;
    background-color: blueviolet;
}
.course1{
    width: 100%;
    height: 45%;
    background-color: white;
    /* border: 4px solid red; */
    border-radius: 12px;
    margin-bottom: 8px;
    display:flex ;
    justify-content: space-around;
    align-items: center;
}
.course2{
    width: 100%;
    height: 45%;
    background-color: rgb(16, 223, 19);
    border: 4px solid white;
    border-radius: 12px;
}


.shopping-info:first-child{
    font-size: 1.5rem;
    font-weight: 600px;
}
.mini-wrapper{
    display: flex;
    align-items: center;
}
.headline1{
    height: 10%;
    width: 100%;
    background-color: darkgreen;
    display: flex;
    align-items: center;
}
/* Course 1 Setting */
.google-doc{
    display: flex;
    flex-direction: row;
    width: 30%;
    height: 75%;
    /* background-color: rgb(128, 123, 123); */
}
.google-doc img{
    width: 100%;
}
.doc-text{
    /* border: 1px solid red; */
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 24px;
}
/* Google Slide Setting */
.google-slide{
    display: flex;
    flex-direction: row;
    width: 30%;
    height: 75%;
    /* background-color: rgb(128, 123, 123); */
}
.google-slide img{
    width: 100%;
}





/* Dot Setting */
.dot{
    display: flex;
    gap: 6px;
}
.dot div{
    width: 20px;
    height: 20px;
    background-color: rgb(150, 240, 168);
    border-radius: 50%;
    display: flex;
}
/* Select Bar Setting */
select {
    border: none;
}
/* Bin Logo Setting */
.bin{
    width: 8%;
    border: 1px solid lightgrey;
    border-radius: 50%;
    padding: 4px;
}
